examples/02 企业微信 - 消息发送-撤回.json
[
  { "id": "b3cc8c96640ea598", "type": "group", "z": "049ce18b04d83891", "name": "接收消息/请求", "style": { "label": true }, "nodes": ["382846a8e92da55f", "a1a43a4b18f637fc", "070f67013a11308d"], "x": 194, "y": 99, "w": 512, "h": 122 },
  {
    "id": "382846a8e92da55f",
    "type": "debug",
    "z": "049ce18b04d83891",
    "g": "b3cc8c96640ea598",
    "name": "来用户请求的数据",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 550,
    "y": 180,
    "wires": []
  },
  { "id": "a1a43a4b18f637fc", "type": "wechat-acceptor", "z": "049ce18b04d83891", "g": "b3cc8c96640ea598", "name": "", "wechat": "50d2ad375251abe5", "endpoint": "/wechat", "timeout": "3000", "x": 280, "y": 160, "wires": [["070f67013a11308d"], ["382846a8e92da55f"]] },
  {
    "id": "070f67013a11308d",
    "type": "debug",
    "z": "049ce18b04d83891",
    "g": "b3cc8c96640ea598",
    "name": "来自企业微信的消息",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 560,
    "y": 140,
    "wires": []
  },
  { "id": "50d2ad375251abe5", "type": "wechat-configurator", "name": "" },
  { "id": "6dc52971af7dd1c9", "type": "group", "z": "049ce18b04d83891", "name": "发送消息", "style": { "label": true }, "nodes": ["2e127117e8699502", "cf8048f75173bee2", "3081457d89b7ee80"], "x": 154, "y": 299, "w": 632, "h": 82 },
  {
    "id": "2e127117e8699502",
    "type": "wechat-pusher",
    "z": "049ce18b04d83891",
    "g": "6dc52971af7dd1c9",
    "name": "",
    "wechat": "50d2ad375251abe5",
    "mtype": "text",
    "content": "测试消息",
    "content_type": "str",
    "touser": "",
    "touser_type": "str",
    "toparty": "",
    "toparty_type": "str",
    "totag": "",
    "totag_type": "str",
    "safe": "0",
    "x": 460,
    "y": 340,
    "wires": [["3081457d89b7ee80"]]
  },
  {
    "id": "cf8048f75173bee2",
    "type": "inject",
    "z": "049ce18b04d83891",
    "g": "6dc52971af7dd1c9",
    "name": "",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 250,
    "y": 340,
    "wires": [["2e127117e8699502"]]
  },
  {
    "id": "3081457d89b7ee80",
    "type": "debug",
    "z": "049ce18b04d83891",
    "g": "6dc52971af7dd1c9",
    "name": "debug 7",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 680,
    "y": 340,
    "wires": []
  },
  { "id": "473c2d387548d1e2", "type": "group", "z": "049ce18b04d83891", "name": "消息撤回", "style": { "label": true }, "nodes": ["255979694db39b7c", "f3f599101ef030fe", "6037624fabb71ed8", "30fcddc9bfa601db", "6f2ea4c7f6221878"], "x": 154, "y": 399, "w": 632, "h": 142 },
  {
    "id": "255979694db39b7c",
    "type": "inject",
    "z": "049ce18b04d83891",
    "g": "473c2d387548d1e2",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 250,
    "y": 440,
    "wires": [["f3f599101ef030fe"]]
  },
  {
    "id": "f3f599101ef030fe",
    "type": "wechat-pusher",
    "z": "049ce18b04d83891",
    "g": "473c2d387548d1e2",
    "name": "",
    "wechat": "50d2ad375251abe5",
    "mtype": "text",
    "content": "测试消息撤回",
    "content_type": "str",
    "touser": "",
    "touser_type": "str",
    "toparty": "",
    "toparty_type": "str",
    "totag": "",
    "totag_type": "str",
    "safe": "0",
    "x": 460,
    "y": 440,
    "wires": [["6f2ea4c7f6221878"]]
  },
  {
    "id": "6037624fabb71ed8",
    "type": "debug",
    "z": "049ce18b04d83891",
    "g": "473c2d387548d1e2",
    "name": "debug 8",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 680,
    "y": 500,
    "wires": []
  },
  { "id": "30fcddc9bfa601db", "type": "wechat-recall", "z": "049ce18b04d83891", "g": "473c2d387548d1e2", "name": "", "wechat": "50d2ad375251abe5", "msgid": "payload.msgid", "msgid_type": "msg", "x": 460, "y": 500, "wires": [["6037624fabb71ed8"]] },
  {
    "id": "6f2ea4c7f6221878",
    "type": "delay",
    "z": "049ce18b04d83891",
    "g": "473c2d387548d1e2",
    "name": "",
    "pauseType": "delay",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 680,
    "y": 440,
    "wires": [["30fcddc9bfa601db"]]
  }
]
