examples/03 企业微信 - 自定义菜单.json
[
  { "id": "049ce18b04d83891", "type": "tab", "label": "企业微信 - 消息接收", "disabled": false, "info": "", "env": [] },
  {
    "id": "6a48152954cc39e8",
    "type": "group",
    "z": "049ce18b04d83891",
    "name": "自定义菜单",
    "style": { "label": true },
    "nodes": ["e04afa2a0f0f8ce9", "b2ffdd39f4d7c644", "5e3770a2b5f1aa3d", "d1be10bc46b10fc6", "e3dbc7d6abd9253d", "ed9c6eb54b425d28", "83f8643590f2d7a4", "0333ac3699735e8a", "27bc3c9d242642e0"],
    "x": 134,
    "y": 279,
    "w": 672,
    "h": 242
  },
  { "id": "b3cc8c96640ea598", "type": "group", "z": "049ce18b04d83891", "name": "接收消息/请求", "style": { "label": true }, "nodes": ["382846a8e92da55f", "a1a43a4b18f637fc", "070f67013a11308d"], "x": 194, "y": 99, "w": 512, "h": 122 },
  { "id": "a1a43a4b18f637fc", "type": "wechat-acceptor", "z": "049ce18b04d83891", "g": "b3cc8c96640ea598", "name": "", "wechat": "50d2ad375251abe5", "endpoint": "/wechat", "timeout": "3000", "x": 280, "y": 160, "wires": [["070f67013a11308d"], ["382846a8e92da55f"]] },
  {
    "id": "070f67013a11308d",
    "type": "debug",
    "z": "049ce18b04d83891",
    "g": "b3cc8c96640ea598",
    "name": "来自企业微信的消息",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 560,
    "y": 140,
    "wires": []
  },
  {
    "id": "e04afa2a0f0f8ce9",
    "type": "inject",
    "z": "049ce18b04d83891",
    "g": "6a48152954cc39e8",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 230,
    "y": 320,
    "wires": [["5e3770a2b5f1aa3d"]]
  },
  {
    "id": "b2ffdd39f4d7c644",
    "type": "debug",
    "z": "049ce18b04d83891",
    "g": "6a48152954cc39e8",
    "name": "debug 9",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 700,
    "y": 320,
    "wires": []
  },
  { "id": "5e3770a2b5f1aa3d", "type": "wechat-menus", "z": "049ce18b04d83891", "g": "6a48152954cc39e8", "name": "", "wechat": "50d2ad375251abe5", "mode": "0", "menus_type": "json", "menus": "{}", "x": 460, "y": 320, "wires": [["b2ffdd39f4d7c644"]] },
  {
    "id": "d1be10bc46b10fc6",
    "type": "inject",
    "z": "049ce18b04d83891",
    "g": "6a48152954cc39e8",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 230,
    "y": 400,
    "wires": [["ed9c6eb54b425d28"]]
  },
  {
    "id": "e3dbc7d6abd9253d",
    "type": "debug",
    "z": "049ce18b04d83891",
    "g": "6a48152954cc39e8",
    "name": "debug 10",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 700,
    "y": 400,
    "wires": []
  },
  {
    "id": "ed9c6eb54b425d28",
    "type": "wechat-menus",
    "z": "049ce18b04d83891",
    "g": "6a48152954cc39e8",
    "name": "",
    "wechat": "50d2ad375251abe5",
    "mode": "1",
    "menus_type": "json",
    "menus": "{\"button\":[{\"type\":\"click\",\"name\":\"今日歌曲\",\"key\":\"V1001_TODAY_MUSIC\"},{\"name\":\"菜单\",\"sub_button\":[{\"type\":\"view\",\"name\":\"搜索\",\"url\":\"http://www.soso.com/\"},{\"type\":\"click\",\"name\":\"赞一下我们\",\"key\":\"V1001_GOOD\"}]}]}",
    "x": 460,
    "y": 400,
    "wires": [["e3dbc7d6abd9253d"]]
  },
  {
    "id": "83f8643590f2d7a4",
    "type": "inject",
    "z": "049ce18b04d83891",
    "g": "6a48152954cc39e8",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 230,
    "y": 480,
    "wires": [["27bc3c9d242642e0"]]
  },
  {
    "id": "0333ac3699735e8a",
    "type": "debug",
    "z": "049ce18b04d83891",
    "g": "6a48152954cc39e8",
    "name": "debug 11",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 700,
    "y": 480,
    "wires": []
  },
  { "id": "27bc3c9d242642e0", "type": "wechat-menus", "z": "049ce18b04d83891", "g": "6a48152954cc39e8", "name": "", "wechat": "50d2ad375251abe5", "mode": "2", "menus_type": "json", "menus": "{}", "x": 460, "y": 480, "wires": [["0333ac3699735e8a"]] },
  {
    "id": "382846a8e92da55f",
    "type": "debug",
    "z": "049ce18b04d83891",
    "g": "b3cc8c96640ea598",
    "name": "来用户请求的数据",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 550,
    "y": 180,
    "wires": []
  },
  { "id": "50d2ad375251abe5", "type": "wechat-configurator", "name": "" }
]
