examples/04 企业微信 - 设置工作台.json
[
  { "id": "049ce18b04d83891", "type": "tab", "label": "企业微信 - 消息接收", "disabled": false, "info": "", "env": [] },
  { "id": "b3cc8c96640ea598", "type": "group", "z": "049ce18b04d83891", "name": "接收消息/请求", "style": { "label": true }, "nodes": ["382846a8e92da55f", "a1a43a4b18f637fc", "070f67013a11308d"], "x": 194, "y": 99, "w": 512, "h": 122 },
  {
    "id": "36cc68147c3d9894",
    "type": "group",
    "z": "049ce18b04d83891",
    "name": "设置工作台",
    "style": { "label": true },
    "nodes": ["e860a7efc8242aa7", "838f02269fa6f15e", "987cd7c5fe2d9ce0", "e8935237cc0e0b0d", "a8b32b5672c22edc", "28d836974e8c5011"],
    "x": 114,
    "y": 299,
    "w": 692,
    "h": 142
  },
  { "id": "a1a43a4b18f637fc", "type": "wechat-acceptor", "z": "049ce18b04d83891", "g": "b3cc8c96640ea598", "name": "", "wechat": "50d2ad375251abe5", "endpoint": "/wechat", "timeout": "3000", "x": 280, "y": 160, "wires": [["070f67013a11308d"], ["382846a8e92da55f"]] },
  {
    "id": "070f67013a11308d",
    "type": "debug",
    "z": "049ce18b04d83891",
    "g": "b3cc8c96640ea598",
    "name": "来自企业微信的消息",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 560,
    "y": 140,
    "wires": []
  },
  {
    "id": "382846a8e92da55f",
    "type": "debug",
    "z": "049ce18b04d83891",
    "g": "b3cc8c96640ea598",
    "name": "来用户请求的数据",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 550,
    "y": 180,
    "wires": []
  },
  {
    "id": "e860a7efc8242aa7",
    "type": "wechat-works",
    "z": "049ce18b04d83891",
    "g": "36cc68147c3d9894",
    "name": "",
    "wechat": "50d2ad375251abe5",
    "mode": "get_workbench_template",
    "user": "",
    "user_type": "str",
    "data": "{}",
    "data_type": "json",
    "x": 460,
    "y": 340,
    "wires": [["987cd7c5fe2d9ce0"]]
  },
  {
    "id": "838f02269fa6f15e",
    "type": "inject",
    "z": "049ce18b04d83891",
    "g": "36cc68147c3d9894",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 210,
    "y": 340,
    "wires": [["e860a7efc8242aa7"]]
  },
  {
    "id": "987cd7c5fe2d9ce0",
    "type": "debug",
    "z": "049ce18b04d83891",
    "g": "36cc68147c3d9894",
    "name": "debug 6",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 700,
    "y": 340,
    "wires": []
  },
  {
    "id": "e8935237cc0e0b0d",
    "type": "wechat-works",
    "z": "049ce18b04d83891",
    "g": "36cc68147c3d9894",
    "name": "",
    "wechat": "50d2ad375251abe5",
    "mode": "set_workbench_template",
    "user": "",
    "user_type": "str",
    "data": "{\"agentid\":1000005,\"userid\":\"test\",\"type\":\"keydata\",\"keydata\":{\"items\":[{\"key\":\"待审批\",\"data\":\"2\",\"jump_url\":\"http://www.qq.com\"},{\"key\":\"带批阅作业\",\"data\":\"4\",\"jump_url\":\"http://www.qq.com\"},{\"key\":\"成绩录入\",\"data\":\"45\",\"jump_url\":\"http://www.qq.com\"},{\"key\":\"综合评价\",\"data\":\"98\",\"jump_url\":\"http://www.qq.com\"}]}}",
    "data_type": "json",
    "x": 460,
    "y": 400,
    "wires": [["28d836974e8c5011"]]
  },
  {
    "id": "a8b32b5672c22edc",
    "type": "inject",
    "z": "049ce18b04d83891",
    "g": "36cc68147c3d9894",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 210,
    "y": 400,
    "wires": [["e8935237cc0e0b0d"]]
  },
  {
    "id": "28d836974e8c5011",
    "type": "debug",
    "z": "049ce18b04d83891",
    "g": "36cc68147c3d9894",
    "name": "debug 7",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 700,
    "y": 400,
    "wires": []
  },
  { "id": "50d2ad375251abe5", "type": "wechat-configurator", "name": "" }
]
