examples/05 企业微信 - 媒体素材管理.json
[
  { "id": "049ce18b04d83891", "type": "tab", "label": "企业微信 - 消息接收", "disabled": false, "info": "", "env": [] },
  { "id": "b3cc8c96640ea598", "type": "group", "z": "049ce18b04d83891", "name": "接收消息/请求", "style": { "label": true }, "nodes": ["382846a8e92da55f", "a1a43a4b18f637fc", "070f67013a11308d"], "x": 194, "y": 99, "w": 512, "h": 122 },
  { "id": "0a2ba7fb21785068", "type": "group", "z": "049ce18b04d83891", "name": "上传临时素材、发送消息", "style": { "label": true }, "nodes": ["fd29cb47c8bebe92", "76314db56be5dc5f", "dd9d9e71c23068b5", "29ddb094446e413d"], "x": 154, "y": 279, "w": 732, "h": 82 },
  {
    "id": "a1a43a4b18f637fc",
    "type": "wechat-acceptor",
    "z": "049ce18b04d83891",
    "g": "b3cc8c96640ea598",
    "name": "",
    "wechat": "50d2ad375251abe5",
    "endpoint": "/wechat",
    "timeout": "3000",
    "x": 280,
    "y": 160,
    "wires": [["070f67013a11308d"], ["382846a8e92da55f", "29ddb094446e413d"]]
  },
  {
    "id": "070f67013a11308d",
    "type": "debug",
    "z": "049ce18b04d83891",
    "g": "b3cc8c96640ea598",
    "name": "来自企业微信的消息",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 560,
    "y": 140,
    "wires": []
  },
  {
    "id": "382846a8e92da55f",
    "type": "debug",
    "z": "049ce18b04d83891",
    "g": "b3cc8c96640ea598",
    "name": "来用户请求的数据",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 550,
    "y": 180,
    "wires": []
  },
  {
    "id": "fd29cb47c8bebe92",
    "type": "wechat-medias",
    "z": "049ce18b04d83891",
    "g": "0a2ba7fb21785068",
    "name": "",
    "wechat": "50d2ad375251abe5",
    "mode": "upload",
    "media": "",
    "media_type": "str",
    "ftype_type": "list",
    "ftype": "image",
    "file": "payload.buffer",
    "file_type": "msg",
    "filename": "payload.filename",
    "filename_type": "msg",
    "base64": "",
    "x": 400,
    "y": 320,
    "wires": [["dd9d9e71c23068b5"]]
  },
  {
    "id": "76314db56be5dc5f",
    "type": "debug",
    "z": "049ce18b04d83891",
    "g": "0a2ba7fb21785068",
    "name": "debug 6",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 780,
    "y": 320,
    "wires": []
  },
  {
    "id": "dd9d9e71c23068b5",
    "type": "wechat-pusher",
    "z": "049ce18b04d83891",
    "g": "0a2ba7fb21785068",
    "name": "",
    "wechat": "50d2ad375251abe5",
    "mtype": "image",
    "content": "payload.media_id",
    "content_type": "msg",
    "touser": "",
    "touser_type": "str",
    "toparty": "",
    "toparty_type": "str",
    "totag": "",
    "totag_type": "str",
    "safe": "0",
    "x": 600,
    "y": 320,
    "wires": [["76314db56be5dc5f"]]
  },
  {
    "id": "29ddb094446e413d",
    "type": "switch",
    "z": "049ce18b04d83891",
    "g": "0a2ba7fb21785068",
    "name": "",
    "property": "topic",
    "propertyType": "msg",
    "rules": [{ "t": "eq", "v": "uploader", "vt": "str" }],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 230,
    "y": 320,
    "wires": [["fd29cb47c8bebe92"]]
  },
  { "id": "50d2ad375251abe5", "type": "wechat-configurator", "name": "" }
]
