examples/06 企业微信 - 模版卡片消息.json
[
  { "id": "4553838aae61b4d1", "type": "tab", "label": "流程 1", "disabled": false, "info": "", "env": [] },
  {
    "id": "b07ff5331a2e2a64",
    "type": "inject",
    "z": "4553838aae61b4d1",
    "name": "",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 230,
    "y": 200,
    "wires": [["e203b8934db9e82d"]]
  },
  { "id": "b06fcc8bb265d26d", "type": "debug", "z": "4553838aae61b4d1", "name": "debug 1", "active": true, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 740, "y": 200, "wires": [] },
  {
    "id": "e203b8934db9e82d",
    "type": "wechat-pusher",
    "z": "4553838aae61b4d1",
    "name": "文本通知型",
    "wechat": "62c73c950ed58124",
    "mtype": "template_card",
    "content": "{\"touser\":\"UserID1|UserID2|UserID3\",\"toparty\":\"PartyID1 | PartyID2\",\"totag\":\"TagID1 | TagID2\",\"msgtype\":\"template_card\",\"agentid\":1000007,\"template_card\":{\"card_type\":\"text_notice\",\"source\":{\"icon_url\":\"图片的url\",\"desc\":\"企业微信\",\"desc_color\":1},\"action_menu\":{\"desc\":\"卡片副交互辅助文本说明\",\"action_list\":[{\"text\":\"接受推送\",\"key\":\"A\"},{\"text\":\"不再推送\",\"key\":\"B\"}]},\"task_id\":\"task_id\",\"main_title\":{\"title\":\"欢迎使用企业微信\",\"desc\":\"您的好友正在邀请您加入企业微信\"},\"quote_area\":{\"type\":1,\"url\":\"https://work.weixin.qq.com\",\"title\":\"企业微信的引用样式\",\"quote_text\":\"企业微信真好用呀真好用\"},\"emphasis_content\":{\"title\":\"100\",\"desc\":\"核心数据\"},\"sub_title_text\":\"下载企业微信还能抢红包！\",\"horizontal_content_list\":[{\"keyname\":\"邀请人\",\"value\":\"张三\"},{\"type\":1,\"keyname\":\"企业微信官网\",\"value\":\"点击访问\",\"url\":\"https://work.weixin.qq.com\"},{\"type\":3,\"keyname\":\"员工信息\",\"value\":\"点击查看\",\"userid\":\"ChenYuan\"}],\"jump_list\":[{\"type\":1,\"title\":\"企业微信官网\",\"url\":\"https://work.weixin.qq.com\"}],\"card_action\":{\"type\":1,\"url\":\"https://work.weixin.qq.com\"}},\"enable_id_trans\":0,\"enable_duplicate_check\":0,\"duplicate_check_interval\":1800}",
    "content_type": "json",
    "touser": "",
    "touser_type": "str",
    "toparty": "",
    "toparty_type": "str",
    "totag": "",
    "totag_type": "str",
    "safe": "0",
    "x": 470,
    "y": 200,
    "wires": [["b06fcc8bb265d26d"]]
  },
  {
    "id": "a08ec21fc73877cc",
    "type": "inject",
    "z": "4553838aae61b4d1",
    "name": "",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 230,
    "y": 260,
    "wires": [["80a26d99c2c4bd1d"]]
  },
  { "id": "1eb6a2636f59a86a", "type": "debug", "z": "4553838aae61b4d1", "name": "debug 2", "active": true, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 740, "y": 260, "wires": [] },
  {
    "id": "80a26d99c2c4bd1d",
    "type": "wechat-pusher",
    "z": "4553838aae61b4d1",
    "name": "图文展示型",
    "wechat": "62c73c950ed58124",
    "mtype": "template_card",
    "content": "{\"touser\":\"UserID1|UserID2|UserID3\",\"toparty\":\"PartyID1 | PartyID2\",\"totag\":\"TagID1 | TagID2\",\"msgtype\":\"template_card\",\"agentid\":1,\"template_card\":{\"card_type\":\"news_notice\",\"source\":{\"icon_url\":\"图片的url\",\"desc\":\"企业微信\",\"desc_color\":1},\"action_menu\":{\"desc\":\"卡片副交互辅助文本说明\",\"action_list\":[{\"text\":\"接受推送\",\"key\":\"A\"},{\"text\":\"不再推送\",\"key\":\"B\"}]},\"task_id\":\"task_id\",\"main_title\":{\"title\":\"欢迎使用企业微信\",\"desc\":\"您的好友正在邀请您加入企业微信\"},\"quote_area\":{\"type\":1,\"url\":\"https://work.weixin.qq.com\",\"title\":\"企业微信的引用样式\",\"quote_text\":\"企业微信真好用呀真好用\"},\"image_text_area\":{\"type\":1,\"url\":\"https://work.weixin.qq.com\",\"title\":\"企业微信的左图右文样式\",\"desc\":\"企业微信真好用呀真好用\",\"image_url\":\"https://img.iplaysoft.com/wp-content/uploads/2019/free-images/free_stock_photo_2x.jpg\"},\"card_image\":{\"url\":\"图片的url\",\"aspect_ratio\":1.3},\"vertical_content_list\":[{\"title\":\"惊喜红包等你来拿\",\"desc\":\"下载企业微信还能抢红包！\"}],\"horizontal_content_list\":[{\"keyname\":\"邀请人\",\"value\":\"陳园\"},{\"type\":1,\"keyname\":\"企业微信官网\",\"value\":\"点击访问\",\"url\":\"https://work.weixin.qq.com\"},{\"type\":2,\"keyname\":\"企业微信下载\",\"value\":\"企业微信.apk\",\"media_id\":\"文件的media_id\"},{\"type\":3,\"keyname\":\"员工信息\",\"value\":\"点击查看\",\"userid\":\"ChenYuan\"}],\"jump_list\":[{\"type\":1,\"title\":\"企业微信官网\",\"url\":\"https://work.weixin.qq.com\"}],\"card_action\":{\"type\":1,\"url\":\"https://work.weixin.qq.com\"}},\"enable_id_trans\":0,\"enable_duplicate_check\":0,\"duplicate_check_interval\":1800}",
    "content_type": "json",
    "touser": "",
    "touser_type": "str",
    "toparty": "",
    "toparty_type": "str",
    "totag": "",
    "totag_type": "str",
    "safe": "0",
    "x": 470,
    "y": 260,
    "wires": [["1eb6a2636f59a86a"]]
  },
  {
    "id": "2a51860833e009c6",
    "type": "inject",
    "z": "4553838aae61b4d1",
    "name": "",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 230,
    "y": 320,
    "wires": [["a0ee6e60ed3e743f"]]
  },
  { "id": "619629933b03fd8d", "type": "debug", "z": "4553838aae61b4d1", "name": "debug 3", "active": true, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 740, "y": 320, "wires": [] },
  {
    "id": "a0ee6e60ed3e743f",
    "type": "wechat-pusher",
    "z": "4553838aae61b4d1",
    "name": "按钮交互型",
    "wechat": "62c73c950ed58124",
    "mtype": "template_card",
    "content": "{\"touser\":\"UserID1|UserID2|UserID3\",\"toparty\":\"PartyID1 | PartyID2\",\"totag\":\"TagID1 | TagID2\",\"msgtype\":\"template_card\",\"agentid\":1,\"template_card\":{\"card_type\":\"button_interaction\",\"source\":{\"icon_url\":\"图片的url\",\"desc\":\"企业微信\",\"desc_color\":1},\"action_menu\":{\"desc\":\"卡片副交互辅助文本说明\",\"action_list\":[{\"text\":\"接受推送\",\"key\":\"A\"},{\"text\":\"不再推送\",\"key\":\"B\"}]},\"main_title\":{\"title\":\"欢迎使用企业微信\",\"desc\":\"您的好友正在邀请您加入企业微信\"},\"quote_area\":{\"type\":1,\"url\":\"https://work.weixin.qq.com\",\"title\":\"企业微信的引用样式\",\"quote_text\":\"企业微信真好用呀真好用\"},\"sub_title_text\":\"下载企业微信还能抢红包！\",\"horizontal_content_list\":[{\"keyname\":\"邀请人\",\"value\":\" 陈园\"},{\"type\":1,\"keyname\":\"企业微信官网\",\"value\":\"点击访问\",\"url\":\"https://work.weixin.qq.com\"},{\"type\":3,\"keyname\":\"员工信息\",\"value\":\"点击查看\",\"userid\":\"ChenYuan\"}],\"card_action\":{\"type\":1,\"url\":\"https://work.weixin.qq.com\"},\"task_id\":\"task_id\",\"button_selection\":{\"question_key\":\"btn_question_key1\",\"title\":\"企业微信评分\",\"option_list\":[{\"id\":\"btn_selection_id1\",\"text\":\"100分\"},{\"id\":\"btn_selection_id2\",\"text\":\"101分\"}],\"selected_id\":\"btn_selection_id1\"},\"button_list\":[{\"text\":\"按钮1\",\"style\":1,\"key\":\"button_key_1\"},{\"text\":\"按钮2\",\"style\":2,\"key\":\"button_key_2\"}]},\"enable_id_trans\":0,\"enable_duplicate_check\":0,\"duplicate_check_interval\":1800}",
    "content_type": "json",
    "touser": "",
    "touser_type": "str",
    "toparty": "",
    "toparty_type": "str",
    "totag": "",
    "totag_type": "str",
    "safe": "0",
    "x": 470,
    "y": 320,
    "wires": [["619629933b03fd8d"]]
  },
  {
    "id": "fb08dde11bc5819a",
    "type": "inject",
    "z": "4553838aae61b4d1",
    "name": "",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 230,
    "y": 380,
    "wires": [["c3083f007a46ef1f"]]
  },
  { "id": "f94e060f6609fdfe", "type": "debug", "z": "4553838aae61b4d1", "name": "debug 4", "active": true, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 740, "y": 380, "wires": [] },
  {
    "id": "c3083f007a46ef1f",
    "type": "wechat-pusher",
    "z": "4553838aae61b4d1",
    "name": "投票选择型",
    "wechat": "62c73c950ed58124",
    "mtype": "template_card",
    "content": "{\"touser\":\"UserID1|UserID2|UserID3\",\"toparty\":\"PartyID1 | PartyID2\",\"totag\":\"TagID1 | TagID2\",\"msgtype\":\"template_card\",\"agentid\":1,\"template_card\":{\"card_type\":\"vote_interaction\",\"source\":{\"icon_url\":\"https://res.mail.qq.com/node/ww/wwopenmng/images/independent/doc/test_pic_msg1.png\",\"desc\":\"企业微信\"},\"main_title\":{\"title\":\"欢迎使用企业微信\",\"desc\":\"您的好友正在邀请您加入企业微信\"},\"task_id\":\"task_id\",\"checkbox\":{\"question_key\":\"question_key1\",\"option_list\":[{\"id\":\"option_id1\",\"text\":\"选择题选项1\",\"is_checked\":true},{\"id\":\"option_id2\",\"text\":\"选择题选项2\",\"is_checked\":false}],\"mode\":1},\"submit_button\":{\"text\":\"提交\",\"key\":\"key\"}},\"enable_id_trans\":0,\"enable_duplicate_check\":0,\"duplicate_check_interval\":1800}",
    "content_type": "json",
    "touser": "",
    "touser_type": "str",
    "toparty": "",
    "toparty_type": "str",
    "totag": "",
    "totag_type": "str",
    "safe": "0",
    "x": 470,
    "y": 380,
    "wires": [["f94e060f6609fdfe"]]
  },
  {
    "id": "a97f849ac3322df0",
    "type": "inject",
    "z": "4553838aae61b4d1",
    "name": "",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 230,
    "y": 440,
    "wires": [["a460b6258651a6ab"]]
  },
  { "id": "ac8d0239b5557046", "type": "debug", "z": "4553838aae61b4d1", "name": "debug 5", "active": true, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 740, "y": 440, "wires": [] },
  {
    "id": "a460b6258651a6ab",
    "type": "wechat-pusher",
    "z": "4553838aae61b4d1",
    "name": "多项选择型",
    "wechat": "62c73c950ed58124",
    "mtype": "template_card",
    "content": "{\"touser\":\"UserID1|UserID2|UserID3\",\"toparty\":\"PartyID1 | PartyID2\",\"totag\":\"TagID1 | TagID2\",\"msgtype\":\"template_card\",\"agentid\":1,\"template_card\":{\"card_type\":\"multiple_interaction\",\"source\":{\"icon_url\":\"https://res.mail.qq.com/node/ww/wwopenmng/images/independent/doc/test_pic_msg1.png\",\"desc\":\"企业微信\"},\"main_title\":{\"title\":\"欢迎使用企业微信\",\"desc\":\"您的好友正在邀请您加入企业微信\"},\"task_id\":\"task_id\",\"select_list\":[{\"question_key\":\"question_key1\",\"title\":\"选择器标签1\",\"selected_id\":\"selection_id1\",\"option_list\":[{\"id\":\"selection_id1\",\"text\":\"选择器选项1\"},{\"id\":\"selection_id2\",\"text\":\"选择器选项2\"}]},{\"question_key\":\"question_key2\",\"title\":\"选择器标签2\",\"selected_id\":\"selection_id3\",\"option_list\":[{\"id\":\"selection_id3\",\"text\":\"选择器选项3\"},{\"id\":\"selection_id4\",\"text\":\"选择器选项4\"}]}],\"submit_button\":{\"text\":\"提交\",\"key\":\"key\"}},\"enable_id_trans\":0,\"enable_duplicate_check\":0,\"duplicate_check_interval\":1800}",
    "content_type": "json",
    "touser": "",
    "touser_type": "str",
    "toparty": "",
    "toparty_type": "str",
    "totag": "",
    "totag_type": "str",
    "safe": "0",
    "x": 470,
    "y": 440,
    "wires": [["ac8d0239b5557046"]]
  },
  { "id": "62c73c950ed58124", "type": "wechat-configurator", "name": "" }
]
