examples/07 群机器人 - 发送消息格式.json
[
  {
    "id": "e862d52c7f118d9b",
    "type": "wechat-robot-pusher",
    "z": "4553838aae61b4d1",
    "name": "文本消息 - 纯文本格式",
    "robot": "ed69a89b0981ea0b",
    "msgtype": "text",
    "content": "广州今日天气：29度，大部分多云，降雨概率：60%",
    "content_type": "str",
    "touser": "",
    "touser_type": "str",
    "tomobile": "",
    "tomobile_type": "str",
    "x": 500,
    "y": 200,
    "wires": [["230bd3b4bdc17b53"]]
  },
  {
    "id": "fdaa3a063a3e3853",
    "type": "inject",
    "z": "4553838aae61b4d1",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 270,
    "y": 200,
    "wires": [["e862d52c7f118d9b"]]
  },
  { "id": "230bd3b4bdc17b53", "type": "debug", "z": "4553838aae61b4d1", "name": "debug 1", "active": true, "tosidebar": true, "console": false, "tostatus": false, "complete": "false", "statusVal": "", "statusType": "auto", "x": 860, "y": 260, "wires": [] },
  {
    "id": "cd146644d6668fc2",
    "type": "wechat-robot-pusher",
    "z": "4553838aae61b4d1",
    "name": "文本消息 - JSON 简洁格式",
    "robot": "ed69a89b0981ea0b",
    "msgtype": "text",
    "content": "{\"content\":\"广州今日天气：29度，大部分多云，降雨概率：60%\",\"mentioned_list\":[\"@all\"],\"mentioned_mobile_list\":[\"@all\"]}",
    "content_type": "json",
    "touser": "",
    "touser_type": "str",
    "tomobile": "",
    "tomobile_type": "str",
    "x": 520,
    "y": 260,
    "wires": [["230bd3b4bdc17b53"]]
  },
  {
    "id": "a7f93ae802309b6e",
    "type": "inject",
    "z": "4553838aae61b4d1",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 270,
    "y": 260,
    "wires": [["cd146644d6668fc2"]]
  },
  {
    "id": "022937fc8bb96d1f",
    "type": "wechat-robot-pusher",
    "z": "4553838aae61b4d1",
    "name": "文本消息 - JSON 完整格式",
    "robot": "ed69a89b0981ea0b",
    "msgtype": "text",
    "content": "{\"msgtype\":\"text\",\"text\":{\"content\":\"广州今日天气：29度，大部分多云，降雨概率：60%\",\"mentioned_list\":[\"@all\"],\"mentioned_mobile_list\":[\"@all\"]}}",
    "content_type": "json",
    "touser": "",
    "touser_type": "str",
    "tomobile": "",
    "tomobile_type": "str",
    "x": 520,
    "y": 320,
    "wires": [["230bd3b4bdc17b53"]]
  },
  {
    "id": "ba0ac346639583af",
    "type": "inject",
    "z": "4553838aae61b4d1",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 270,
    "y": 320,
    "wires": [["022937fc8bb96d1f"]]
  },
  { "id": "ed69a89b0981ea0b", "type": "wechat-robot-configurator", "name": "" }
]
