examples/08 群机器人 - 发送消息.json
[
  {
    "id": "92ddcae445269e4e",
    "type": "wechat-robot-pusher",
    "z": "4553838aae61b4d1",
    "name": "",
    "robot": "ed69a89b0981ea0b",
    "msgtype": "text",
    "content": "广州今日天气：29度，大部分多云，降雨概率：60%",
    "content_type": "str",
    "touser": "",
    "touser_type": "str",
    "tomobile": "",
    "tomobile_type": "str",
    "x": 500,
    "y": 280,
    "wires": [["d954496d1e552959"]]
  },
  {
    "id": "e47884cf4a5e83aa",
    "type": "inject",
    "z": "4553838aae61b4d1",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 310,
    "y": 280,
    "wires": [["92ddcae445269e4e"]]
  },
  { "id": "d954496d1e552959", "type": "debug", "z": "4553838aae61b4d1", "name": "debug 5", "active": true, "tosidebar": true, "console": false, "tostatus": false, "complete": "false", "statusVal": "", "statusType": "auto", "x": 720, "y": 280, "wires": [] },
  {
    "id": "63a31e7f02bc4092",
    "type": "wechat-robot-pusher",
    "z": "4553838aae61b4d1",
    "name": "",
    "robot": "ed69a89b0981ea0b",
    "msgtype": "news",
    "content": "{\"articles\":[{\"title\":\"中秋节礼品领取\",\"description\":\"今年中秋节公司有豪礼相送\",\"url\":\"www.qq.com\",\"picurl\":\"http://res.mail.qq.com/node/ww/wwopenmng/images/independent/doc/test_pic_msg1.png\"}]}",
    "content_type": "json",
    "touser": "",
    "touser_type": "str",
    "tomobile": "",
    "tomobile_type": "str",
    "x": 500,
    "y": 340,
    "wires": [["79e41e741a5c4e42"]]
  },
  {
    "id": "4ab5f276ea60eb80",
    "type": "inject",
    "z": "4553838aae61b4d1",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 310,
    "y": 340,
    "wires": [["63a31e7f02bc4092"]]
  },
  { "id": "79e41e741a5c4e42", "type": "debug", "z": "4553838aae61b4d1", "name": "debug 6", "active": true, "tosidebar": true, "console": false, "tostatus": false, "complete": "false", "statusVal": "", "statusType": "auto", "x": 720, "y": 340, "wires": [] },
  {
    "id": "993ec1ad6203aee2",
    "type": "wechat-robot-pusher",
    "z": "4553838aae61b4d1",
    "name": "",
    "robot": "ed69a89b0981ea0b",
    "msgtype": "file",
    "content": "3Ug4cM4rCmvKEU2IY8hxXhZawhTd2qx0YFF2RSGGc2GdoXou0zrTmayiYA2pTJnlcbvOFrWiLMS1jGhXFDRoibA",
    "content_type": "str",
    "touser": "",
    "touser_type": "str",
    "tomobile": "",
    "tomobile_type": "str",
    "x": 500,
    "y": 400,
    "wires": [["9d8f25eba345d93e"]]
  },
  {
    "id": "9ea63d0a9f5cd7cd",
    "type": "inject",
    "z": "4553838aae61b4d1",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 310,
    "y": 400,
    "wires": [["993ec1ad6203aee2"]]
  },
  { "id": "9d8f25eba345d93e", "type": "debug", "z": "4553838aae61b4d1", "name": "debug 7", "active": true, "tosidebar": true, "console": false, "tostatus": false, "complete": "false", "statusVal": "", "statusType": "auto", "x": 720, "y": 400, "wires": [] },
  { "id": "ed69a89b0981ea0b", "type": "wechat-robot-configurator", "name": "" }
]
