examples/09 群机器人 - 上传文件-发图片消息.json
[
  { "id": "4553838aae61b4d1", "type": "tab", "label": "流程 1", "disabled": false, "info": "", "env": [] },
  { "id": "2b7b3f118f68058a", "type": "http in", "z": "4553838aae61b4d1", "name": "上传文件", "url": "/robot-uploader", "method": "post", "upload": true, "swaggerDoc": "", "x": 180, "y": 260, "wires": [["45be59701c3228d3"]] },
  { "id": "ec7f46e5a4f7532d", "type": "http response", "z": "4553838aae61b4d1", "name": "", "statusCode": "200", "headers": {}, "x": 1000, "y": 180, "wires": [] },
  { "id": "45f10acbf9f9441b", "type": "debug", "z": "4553838aae61b4d1", "name": "debug 2", "active": true, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 1000, "y": 260, "wires": [] },
  {
    "id": "45be59701c3228d3",
    "type": "change",
    "z": "4553838aae61b4d1",
    "name": "获取文件",
    "rules": [{ "t": "set", "p": "payload", "pt": "msg", "to": "req.files[0]", "tot": "msg" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 360,
    "y": 260,
    "wires": [["5613a52b60a45f97", "f4b1f8355f84e21e", "273ccae0d63012e7"]]
  },
  {
    "id": "5613a52b60a45f97",
    "type": "wechat-robot-uploader",
    "z": "4553838aae61b4d1",
    "name": "群机器人文件上传",
    "robot": "ed69a89b0981ea0b",
    "ftype": "file",
    "ftype_type": "list",
    "content": "payload.buffer",
    "content_type": "msg",
    "filename": "payload.originalname",
    "filename_type": "msg",
    "x": 590,
    "y": 260,
    "wires": [["95bf3bb4ac1e932e"]]
  },
  {
    "id": "95bf3bb4ac1e932e",
    "type": "wechat-robot-pusher",
    "z": "4553838aae61b4d1",
    "name": "",
    "robot": "ed69a89b0981ea0b",
    "msgtype": "file",
    "content": "{\"media_id\":\"{{payload.media_id}}\"}",
    "content_type": "json",
    "touser": "",
    "touser_type": "str",
    "tomobile": "",
    "tomobile_type": "str",
    "x": 800,
    "y": 260,
    "wires": [["45f10acbf9f9441b", "ec7f46e5a4f7532d"]]
  },
  {
    "id": "273ccae0d63012e7",
    "type": "switch",
    "z": "4553838aae61b4d1",
    "name": "判断是否上的图片",
    "property": "payload.mimetype",
    "propertyType": "msg",
    "rules": [{ "t": "cont", "v": "image", "vt": "str" }],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 590,
    "y": 340,
    "wires": [["f867b78f661b84ef"]]
  },
  { "id": "f4b1f8355f84e21e", "type": "debug", "z": "4553838aae61b4d1", "name": "debug 1", "active": true, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 560, "y": 180, "wires": [] },
  {
    "id": "f867b78f661b84ef",
    "type": "wechat-robot-pusher",
    "z": "4553838aae61b4d1",
    "name": "",
    "robot": "ed69a89b0981ea0b",
    "msgtype": "image",
    "content": "payload.buffer",
    "content_type": "msg",
    "touser": "",
    "touser_type": "str",
    "tomobile": "",
    "tomobile_type": "str",
    "x": 800,
    "y": 340,
    "wires": [["6ccf3b9981e811f8"]]
  },
  { "id": "6ccf3b9981e811f8", "type": "debug", "z": "4553838aae61b4d1", "name": "debug 3", "active": true, "tosidebar": true, "console": false, "tostatus": false, "complete": "false", "statusVal": "", "statusType": "auto", "x": 1000, "y": 340, "wires": [] },
  { "id": "ed69a89b0981ea0b", "type": "wechat-robot-configurator", "name": "" }
]
