examples/10 群机器人 - 模版卡片消息.json
[
  { "id": "4553838aae61b4d1", "type": "tab", "label": "流程 1", "disabled": false, "info": "", "env": [] },
  {
    "id": "b07ff5331a2e2a64",
    "type": "inject",
    "z": "4553838aae61b4d1",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "media_id", "v": "3MuYY28_2se3b72fq4JH5dxyf9vAFEszU0RYri2HOW04oQjHT1ND55miYQ7KxISrf", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 230,
    "y": 220,
    "wires": [["1484fa0cd081bd70"]]
  },
  {
    "id": "1484fa0cd081bd70",
    "type": "wechat-robot-pusher",
    "z": "4553838aae61b4d1",
    "name": "文本通知模版卡片",
    "robot": "ed69a89b0981ea0b",
    "msgtype": "template_card",
    "content": "{\"msgtype\":\"template_card\",\"template_card\":{\"card_type\":\"text_notice\",\"source\":{\"icon_url\":\"https://wework.qpic.cn/wwpic/252813_jOfDHtcISzuodLa_1629280209/0\",\"desc\":\"企业微信\",\"desc_color\":0},\"main_title\":{\"title\":\"欢迎使用企业微信\",\"desc\":\"您的好友正在邀请您加入企业微信\"},\"emphasis_content\":{\"title\":\"100\",\"desc\":\"数据含义\"},\"quote_area\":{\"type\":1,\"url\":\"https://work.weixin.qq.com/?from=openApi\",\"appid\":\"APPID\",\"pagepath\":\"PAGEPATH\",\"title\":\"引用文本标题\",\"quote_text\":\"Jack：企业微信真的很好用~\\nBalian：超级好的一款软件！\"},\"sub_title_text\":\"下载企业微信还能抢红包！\",\"horizontal_content_list\":[{\"keyname\":\"邀请人\",\"value\":\"张三\"},{\"keyname\":\"企微官网\",\"value\":\"点击访问\",\"type\":1,\"url\":\"https://work.weixin.qq.com/?from=openApi\"},{\"keyname\":\"企微下载\",\"value\":\"企业微信.apk\",\"type\":2,\"media_id\":\"{{media_id}}\"}],\"jump_list\":[{\"type\":1,\"url\":\"https://work.weixin.qq.com/?from=openApi\",\"title\":\"企业微信官网\"}],\"card_action\":{\"type\":1,\"url\":\"https://work.weixin.qq.com/?from=openApi\"}}}",
    "content_type": "json",
    "touser": "",
    "touser_type": "str",
    "tomobile": "",
    "tomobile_type": "str",
    "x": 470,
    "y": 220,
    "wires": [["b06fcc8bb265d26d"]]
  },
  { "id": "b06fcc8bb265d26d", "type": "debug", "z": "4553838aae61b4d1", "name": "debug 1", "active": true, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 680, "y": 220, "wires": [] },
  {
    "id": "452383afb15713be",
    "type": "inject",
    "z": "4553838aae61b4d1",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "media_id", "v": "3MuYY28_2se3b72fq4JH5dxyf9vAFEszU0RYri2HOW04oQjHT1ND55miYQ7KxISrf", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 230,
    "y": 280,
    "wires": [["2abcb56ac8a7d676"]]
  },
  {
    "id": "2abcb56ac8a7d676",
    "type": "wechat-robot-pusher",
    "z": "4553838aae61b4d1",
    "name": "图文展示模版卡片",
    "robot": "ed69a89b0981ea0b",
    "msgtype": "template_card",
    "content": "{\"msgtype\":\"template_card\",\"template_card\":{\"card_type\":\"news_notice\",\"source\":{\"icon_url\":\"https://wework.qpic.cn/wwpic/252813_jOfDHtcISzuodLa_1629280209/0\",\"desc\":\"企业微信\",\"desc_color\":0},\"main_title\":{\"title\":\"欢迎使用企业微信\",\"desc\":\"您的好友正在邀请您加入企业微信\"},\"card_image\":{\"url\":\"https://wework.qpic.cn/wwpic/354393_4zpkKXd7SrGMvfg_1629280616/0\",\"aspect_ratio\":2.25},\"image_text_area\":{\"type\":1,\"url\":\"https://work.weixin.qq.com\",\"title\":\"欢迎使用企业微信\",\"desc\":\"您的好友正在邀请您加入企业微信\",\"image_url\":\"https://wework.qpic.cn/wwpic/354393_4zpkKXd7SrGMvfg_1629280616/0\"},\"quote_area\":{\"type\":1,\"url\":\"https://work.weixin.qq.com/?from=openApi\",\"appid\":\"APPID\",\"pagepath\":\"PAGEPATH\",\"title\":\"引用文本标题\",\"quote_text\":\"Jack：企业微信真的很好用~\\nBalian：超级好的一款软件！\"},\"vertical_content_list\":[{\"title\":\"惊喜红包等你来拿\",\"desc\":\"下载企业微信还能抢红包！\"}],\"horizontal_content_list\":[{\"keyname\":\"邀请人\",\"value\":\"张三\"},{\"keyname\":\"企微官网\",\"value\":\"点击访问\",\"type\":1,\"url\":\"https://work.weixin.qq.com/?from=openApi\"},{\"keyname\":\"企微下载\",\"value\":\"企业微信.apk\",\"type\":2,\"media_id\":\"{{media_id}}\"}],\"jump_list\":[{\"type\":1,\"url\":\"https://work.weixin.qq.com/?from=openApi\",\"title\":\"企业微信官网\"}],\"card_action\":{\"type\":1,\"url\":\"https://work.weixin.qq.com/?from=openApi\"}}}",
    "content_type": "json",
    "touser": "",
    "touser_type": "str",
    "tomobile": "",
    "tomobile_type": "str",
    "x": 470,
    "y": 280,
    "wires": [["b108a6dc9a329bf6"]]
  },
  { "id": "b108a6dc9a329bf6", "type": "debug", "z": "4553838aae61b4d1", "name": "debug 2", "active": true, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 680, "y": 280, "wires": [] },
  { "id": "ed69a89b0981ea0b", "type": "wechat-robot-configurator", "name": "" }
]
